@model IEnumerable<ShawarmaHousePortal.Models.City>



<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 ">
        <li class="breadcrumb-item text-sm ps-2"><a class="opacity-5 text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">الرئيسية </a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">المدن</li>
    </ol>
</nav>


<div class="card">

    <div class="card-header">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Cities" asp-action="Create">إضافة مدينة</a>

    </div>
    <div class="card-body">
        <table class=" table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                       اسم المدينة
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CityName)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.CityId">تعديل</a> |
                           
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.CityId">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

</div>
</div>


