
<table class="table table-hover">
    <thead>
        <tr>
            <td>الشهادة</td>
            <td>التخصص</td>
            <td>الجامعة</td>
            <td>المعدل</td>
            <td>التاريخ</td>
        </tr>
    </thead>
    <tbody>
      
       
    </tbody>
</table>