<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShawarmaHousePortal</title>
    <link rel="icon" type="image/png" href="~/AdminAssist/assets/img/favicon.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/ShawarmaHousePortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  navbar-light  nav border-bottom box-shadow mb-3">
            <div class="container-fluid ">
                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Image/hlogo.jpg" width="40" height="40" />بيت الشاورما   </a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="navbar-collapse  collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item ">
                            <a class="nav-link active  " asp-area="" asp-controller="Home" asp-action="Index">الرئيسية</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link   " asp-area="" asp-controller="Home" asp-action="Jobs">الوظائف</a>
                        </li>
                      
                    </ul>
                   <!--
                         <partial name="_LoginPartial" />
                   -->
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer  foot">
        <div class="container text-center">
            &copy; 2023 - ShawarmaHousePortal 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="toastr.js" asp-append-version="true"></script>
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
