
@{
    ViewData["Title"] = "Thankfunction";
}
<div class="Container text-center">
    <div class="row">
        <div class="col-12 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
            <div class="card text-center ">
               
                <h5>
                    نعلمكم أن طلب التوظيف الخاص بكم قد تم استلامه بنجاح كما نود نشكركم على اهتمامكم بالانضمام إلى شركة مطاعم بيت الشاورما .
                    <br>
                    إذا كانت لديكم أي أسئلة أو استفسارات إضافية، فلا تترددوا في الاتصال بنا عبر رقم الجوال ( 0567214952 )
                    <br>

                    نتمنى لكم حظاً سعيداً في عملية التوظيف ونأمل أن نلتقي قريباً
                    <br>

                    مع أطيب التحيات ،،،


                </h5>
            </div>
        </div>
    </div>
</div>
